/* Цвет фона окна чата. Для настройки прозрачности из одного места.
 * Задаётся в формате #rrggbb, где:
 * rr - красная составляющая цвета (от 00 - минимум до ff - максимум),
 * gg - зелёная составляющая цвета (от 00 до ff),
 * bb - синяя составляющая цвета (от 00 до ff).
 * или в формате #rrggbbaa, где:
 * aa - прозрачность (от 00 - прозрачный до ff - непрозрачный)
 * все значения в шестнадцатеричной системе счисления.
 */
:root {
  --new-bg-color: #0a0d11e3;
}

/* Эта секция для того, чтобы настроить прозрачный фон чатика.
 * Прозрачность настраивается в OBS через фильтр "Хромакей".
 * В настройках фильтра выбрать свой цвет для прозрачности (#0a0d11)
 * и задать первые три параметра (сходство, гладкость, снижение
 * утечки) значением "1".
 */
.chat-container { background-color: var(--new-bg-color); }
html { background-color: var(--new-bg-color); }

/* Настройка основных параметров окна чата */
body, div.chat-container {
    border-left: none !important;
    padding: 8px;
    background-color: var(--new-bg-color);
}

/* Скрытие сообщения дня и кнопки сообщения дня */
div.popup-wrap { display: none; }

/* Скрытие панели чата для ввода текста, смайлов и другие кнопки */
.chat-container .chat-control-block { display: none; }
div.chat-control-block { display: none; }

/* Маленький незаметный блок с красивым градиентом позади чата, он не нужен */
.chat-container .content-window .bg-block { display: none; }
.bg-block { display: none !important; }

/* После того, как спрятали полоску для ввода текста, растягиваем чатик вниз */
.content-window {
    height: 100% !important;
    border-left: 0;
}
.chat-container_new-guy .content-window { height: 100% !important; }
.chat-container .content-window { height: 100% !important}

/* Скачиваем нужный шрифт */
@font-face {
    font-family: "Hack Regular Nerd Font Complete";
    src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/Hack/Regular/complete/Hack%20Regular%20Nerd%20Font%20Complete.ttf");
}

/* Конфигурируем шрифт сообщений */
.chat-container .message-block .message {
    font-family: "Hack Regular Nerd Font Complete";
    font-size: 19px
}

/* Конфигурируем шрифт ников */
.chat-container .nick {
    font-family: "Hack Regular Nerd Font Complete";
    font-size: 19px
}
