/* Цвет фона окна чата. Для настройки прозрачности из единого места. */
:root {
  --new-bg-color: #0a0d11e3;
  --nick-color: #4e822b;
  --message-color: #7ff32f;
}

/* Эта секция для того, чтобы настроить прозрачный фон чатика. */
.chat-container { background-color: var(--new-bg-color); }
html { background-color: var(--new-bg-color); }

/* Фон блока с сообщением о дарении премиума */
.animated-gift { background-color: var(--new-bg-color); }

/* Настройка основных параметров окна чата */
body, div.chat-container {
    border-left: none !important;
    padding: 8px;
    background-color: var(--new-bg-color);
}

/* Скрытие сообщения дня и кнопки сообщения дня */
div.popup-wrap { display: none; }

/* Скрытие закреплённых заданий */
div.pinned-block { display: none; }

/* Скрытие панели чата для ввода текста, смайлов и другие кнопки */
.chat-container .chat-control-block { display: none; }
div.chat-control-block { display: none; }

/* Маленький незаметный блок с красивым градиентом позади чата, он не нужен */
.chat-container .content-window .bg-block { display: none; }
.bg-block { display: none !important; }

/* После того, как спрятали полоску для ввода текста, растягиваем чатик вниз */
.content-window {
    height: 100% !important;
    border-left: 0;
}
.chat-container_new-guy .content-window { height: 100% !important; }
.chat-container .content-window { height: 100% !important}

/* Скачиваем нужный шрифт */
@font-face {
    font-family: "Hack Regular Nerd Font Complete";
    src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/Hack/Regular/complete/Hack%20Regular%20Nerd%20Font%20Complete.ttf");
}

/* Конфигурируем шрифт сообщений */
.chat-container .message-block .message {
    font-family: "Hack Regular Nerd Font Complete";
    font-size: 19px
}

/* Конфигурируем шрифт ников */
.chat-container .nick {
    font-family: "Hack Regular Nerd Font Complete";
    font-size: 19px
}

/* Настройка цвета текста в чате */
/*
.chat-container .message-block .message,
.chat-container .message-block.king .message,
p[_ngcontent-sud-c7] {
    color: var(--message-color);
}
*/

/* Настройка цвета ников в чате */
/*
.chat-container .nick.simple,
.chat-container .nick.bronze,
.chat-container .nick.silver,
.chat-container .nick.gold,
.chat-container .nick.diamond,
.chat-container .nick.king,
.chat-container .nick.top-one,
.chat-container .nick.undead,
.chat-container .nick.premium,
.chat-container .nick.premium-personal,
.chat-container .nick.moderator,
.chat-container .nick.newguy,
.chat-container .nick.streamer,
.chat-container .nick.streamer-helper,
donor,
your-nick {
    color: var(--nick-color);
}
*/
