/* Переменные для настройки прозрачности и фона одним цветом */
:root {
  --new-bg-color: #0a0d11e3; /* Цвет фона окна чата */
  --nick-color: #4e822b; /* Цвет ников в чате (если добавлены стили) */
  --message-color: #7ff32f; /* Цвет сообщений в чате (если добавлены стили) */
}
