:root {
  --new-bg-color: #0a0d11e3;
}

/* Эта секция для того, чтобы настроить фон чатика. */
html { background-color: var(--new-bg-color); }
body { background-color: var(--new-bg-color); }
.chat-container { background-color: var(--new-bg-color); }
.pinned-block { background-color: var(--new-bg-color) !important; }
.animated-gift { background-color: var(--new-bg-color) !important; }
.task-block { background-color: var(--new-bg-color) !important; }
